{% extends "home_layout.html" %}

{% block head %}
<title>Markx blog</title>
{% endblock head %}

{% block main %}
<div class="row">
    <ol class="offset-1">
        {% for blog in blogs %}
        <li class="my-3">
            <a href='/blogs/{{blog.name | replace(from=" ", to="-") }}'>
                <span>{{blog.name}}</span>
                <span>&#8226&#8226&#8226&#8226&#8226&#8226</span>
                <span>{{blog.modified|date(format="%Y-%m-%d %H:%M")}}</span>
            </a>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock main %}